* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 18px;
    background-color: black;
    /*background-image: url(./black-1072366.jpg);
    background-size: cover;
    background-repeat: no-repeat;*/
}

/*h1.welcome {
    font-size: 40px;
    color: black;

}*/

.welcome {
    background-color: #ffb78c;
    padding: 5px;
    text-align: center;
    color: black;
}

.name {
    font-family: 'Monoton', cursive;
    font-size: 40px;
    text-transform: capitalize;
}

.experience {
    font-family: 'Martel', serif;
    font-size: 20px;
}

/*main {
    text-align: center;
    width: 1000px;
    height: 200px;
    border: 1px solid :rgba(255, 255, 255, .5);
    border-radius: 15px;
    background-color:rgba(255, 255, 255, .5);
    position: relative;
    left: 200px;
    top: 0;
}

nav {
    background-color: black;
    opacity: 0.5;
    background-color: rgba(255, 99, 71, 0.7);
}*/

.projects li {
    display: inline-block;
    margin: 10px 50px 0px 10px;
    font-size: 16px;

}

.projects {
    list-style: square;
    color: #ffb78c;
    text-align: center;
    margin-top: 30px;
  
}

.portfolio, p {
    text-align: center;
    margin-top: 50px;
}

a {
    color: #ffb78c;
}

a:hover {
    color: tomato;
}

footer {
    font-size: 14px;
    text-align: center;
    position: relative;
    top: 250px;
    background-color: tomato;
    font-weight: bold;
}

.contact strong:hover {
    color: black
}

.contact p {
    
}

.addresses {
    position: relative;
    top: 20px;
}

.copyright {
    position: relative;
    bottom: 25px;
}

.design {
    margin-top: 100px;
}
